.element__info-like {
    margin-right: 20px;
    align-self: center;
    background: url(../../../images/like.svg);
    background-repeat: no-repeat;
    border: none;
    width: 22px;
    height: 19px;
}

.element__info-like:active {
    background: url(../../../images/like-active.svg);
    opacity: 1;
}