.popup__container {
	margin: auto;
	border-radius: 10px;
	max-width: 430px;
	display: flex;
	position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	flex-direction: column;
	background-color: #fff;
	max-height: 335px;
	box-sizing: border-box;
	padding: 34px 36px 37px;
	min-height: 322px;
}

@media screen and (max-width: 500px) {
	.popup__container {
		padding: 25px 22px;
		max-width: 92%;
	}
}