.header__logo {
    max-width: 142px;
    align-self: start;
    margin-bottom: 41px;
}

@media screen and (max-width: 694px) {
    .header__logo {
        max-width: 103.74px;
        margin: 0 0 31.6px 27px;
    }
}