.profile__button-edit {
	background-image: url(../../../images/edit.svg);
	width: 24px;
	height: 24px;
	border: 1px solid #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	border-radius: 0;
	padding: 0;
}

@media screen and (max-width: 694px) {
	.profile__button-edit {
		width: 18px;
		height: 18px;
	}
}