.element__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url('../../../images/delete.svg');
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.element__delete:hover {
  opacity: 0.6;
}